{% block bow_cms_block_form_preview %}

<div class="bow-cms-preview-contact-form">
    <div class="bow-cms-preview-contact-form__layout">
    <div class="bow-cms-preview-contact-form__layout">
      <h5> Kontaktformular mit Einstellungen</h5>  
    </div>
    <h4 class="bow-cms-preview-contact-form-headline">     
    </h4>
</div> 
    <div class="bow-cms-preview-form-inputs">
        <div class="bow-cms-preview-form-input"></div>
        <div class="bow-cms-preview-form-input"></div>
    </div>
    <div class="bow-cms-preview-form-input"></div>
    <div class="bow-cms-preview-form-inputs__action">
    </div>
</div>
{% endblock %}