<div class="bow-cms-element-config">
    <table class="mastertbl">
        <thead>
            <tr>
                <th class="content--header">Name</th>
                <th class="content--header">Text für Button</th>
                <th class="content--header">Aktion-Add</th>
                <th class="content--header">Aktion-Delete</th>
            </tr>
            <tr class="column">
                <td class="cell-content">Checkbox</td>
                <td class="cell-content">
                    <input type="text" id="buttonName">
                </td>
                <td class="cell-content">
                            <button class="add-btn">Add</button>
                    </td>
                        <td class="cell-content">
                            <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr class="column">
                <td class="cell-content">Radio Button</td>
                <td class="cell-content">
                    <input type="text" id="buttonName2">
                </td>
                <td class="cell-content">
                            <button class="add-btn">Add</button>
                    </td>
                        <td class="cell-content">
                            <button class="delete-btn">Delete</button>
                </td>
            </tr>
            <tr class="column">
                <td class="cell-content">Drop Down</td>
                <td class="cell-content">
                    <input type="text" id="buttonName3">
                </td>
                <td class="cell-content">
                            <button class="add-btn">Add</button>
                    </td>
                        <td class="cell-content">
                            <button class="delete-btn">Delete</button>
                </td>
            </tr>
        </thead>
    </table>
</div>